matplotlib>=3.7.1
seaborn>=0.12.2
tqdm>=4.65.0
scipy>=1.8.0  # 1.7.3 for python 3.7.16
scikit-learn>=1.0.2
xgboost>=1.7.5  # 1.6.2 for python 3.7.16
GPy>=1.10.0
git+https://github.com/SheffieldML/pyDeepGP
numpy>=1.21.6
pandas>=2.0.1
joblib>=1.2.0
